.env
data/processed/*
data/results/*
__pycache__
.DS_Store
writing/*
.cursorrules
.venv
.pytest_cache
.coverage*
.ruff_cache
uv.lock
data/logs
data/evaluation
hoff.md
evaluation
*.csv
writing/*
evaluation_result*.csv
analysis_evaluations_*.csv
src/evaluation/*
!src/evaluation/create_eval_csv.py